
	<div class="carousel carousel--img--two"> <!-- absolute positioning -->
	<div class="content--wrapper--form">
		<div class="form--wrapper">
			
			<div class="form--title"> Mot de passe oublié?</div>

			
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
		<div class="form">
			
			<div class="field ff">
				<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email %>
			</div>
	
			<div class="actions">
				<%= f.submit "Recevoir les instructions" %>
			</div>
			
		</div>
		<% end %>
				
		</div>
	</div>
</div>