
<!-- Carousel ------------------------------------------------------------------>
<div class="carousel carousel--img--one">

				<div class="home--welcome--box ">
					<h2>Organisez et invitez-vous <br> à des évenements près de chez vous!</h2></p>
						  <div >
						<% if user_signed_in? %>
                        	<p> <%= link_to 'Organiser un évenement', new_event_path, id: 'new--event'%></p>
						<% else %>
							<p><%= link_to 'Se connecter', new_user_session_path, id:"button--connect"%></p>
						<% end %>
						</div>

<%#= button_to("Forgot Password", new_user_password_path, id:"forget-password", class:"forget-password") %>
			
</div>	
<!-- Carousel fin ------------------------------------------------------------------>
