.category--nav{
	display: block;
	background: $font--blue;
	height: $top--nav--height;
	z-index:-1;
	.container{
		text-align: justify;
		padding:5px 0px;
			.section--title{
				font-size:2em;
				color: #fff;
				
		}
	}
}

/* Italique; effet inversion, et moins important*/