@import "./variables.scss";

* {
	font : {
		family : 'Quicksand', sans-serif;
		size:1.2em;
	}
	z-index: 2;
}
.landscape--banner--index{
	position:absolute;
	top:$top--nav--height;
	width:100vh;
	height:360px;
	z-index: 1;
	img{
		width:100vw;
		height:100%;
		filter: blur(6px);/* a faire sur l'image 0*/
		opacity:.8;
	}
}
.content--wrap{
	position: relative;
	left:0px;
	right:0px;
	bottom:0px;
	top:35px;
	padding: 3vh 10vw; /* à supprimer sur petits écrans (media query)*/
	background-color: $bg--primary;
	z-index: -1;  /*pour voir le bandeau*/
	
}
.section--head--first{
	margin-top:50px;
}
.section--head {
	padding: 5px;
	width: 100%;
	margin-top:10px;
	.section--title {
				margin-bottom: 10px;
				color:$font--primary;
				font-size: 3.4em;
				font-weight:200;
				font-family: 'Martel Sans', sans-serif;
				text-decoration: none;
			}
}

.grid--wrapper{
		display:grid;
		width:100%;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-template-rows: repeat(auto-fit);
		grid-row-gap: 20px;
		grid-column-gap:20px;
		z-index: 1;
		.event {
			height: 250px;
			display: block;
			overflow-y: hidden;
			overflow-x: hidden;
			border-radius: 7px;
		/*max-width?*/
			.event--pic {
					height:65%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.event--details {
				background-color: #fff;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 1em;
				text-align: justify;
				height: 35%;
				line-height: 1.2em;
				@include font-basics(1em, 200, Verdana)
			}
				.event--creator {
					font: {
						size: 1.1em;
						color: $font--event--creator;
						style: bold;
					}
				}
				.event--title {
					@include font-basics(1.35em, 150, $event--title--font);
				}
	}
}
/* ------------------MEDIA QUERIES ------------------------*/

/* Smartphones (portrait and landscape) ----------- */

/*@media screen 
and (max-width : 480px) {

}

/* iPads (portrait and landscape) ----------- */
/*@media screen 
and (max-width : 760px) {

}*/
/*@media all 
and (min-width : 760px) 
and (max-width : 1024px) {

}*/

/* Desktops and laptops ----------- */
/*@media all 
and (min-width : 1024px) {

}
*/


 /* iPads (portrait and landscape) 
@media all and (min-width: 768px) and (max-width: 1024px) {}
@media only screen and (min-width: 1224px) {}
@media only screen and (min-width: 1824px) {}
*/

/*@media all and (min-width: 0px) and (max-width: 200px) {*/
/* Styles */
/*.home--events--wrap{
	background-color: black;
	/*background-color: rgb(252, 206, 138);*/
		// #navbar{
		// 	height:100vh;
		// 	display:block;
		// }
/*	}
}*/
/*@media all and (min-width: 200px) and (max-width: 400px){
.home--events--wrap{
	background-color: blue;
	}
}

@media all and (min-width: 400px) and (max-width: 600px){
.home--events--wrap{
	background-color: yellow;
	}
}

@media all and (min-width: 600px)and (max-width: 800px){
.home--events--wrap{
	background-color: green;
	}
}

@media all and (min-width: 800px){
.home--events--wrap{
	background-color: red;
	}
}
*/


