@import "./variables.scss";

* {
	font : {
		family : 'Quicksand', sans-serif;
		size:1.2em;
	}
	z-index: 2;
}
.landscape--banner--index{
	position:absolute;
	top:$top--nav--height;
	width:100vh;
	height:360px;
	z-index: 1;
	img{
		width:100vw;
		height:100%;
		filter: blur(6px);/* a faire sur l'image 0*/
		opacity:.8;
	}
}
.content--wrap{
	position: relative;
	left:0px;
	right:0px;
	bottom:0px;
	z-index: -1;
	
}
.section--head {

	padding: 0px 40px;
	width: 100%;
	margin: 0px 0px 30px 0px;
	float:left;

	
	.section--title {
	
				margin-bottom: 10px;
				color:$font--primary;
				font-size: 3.4em;
				font-weight:200;
				font-family: 'Martel Sans', sans-serif;
				text-decoration: none;
			}
}
#section--head--first{
	margin-top: -25px;
}
.grid--outer{
	@include flex-center;
	width:100vw;
	.grid--wrapper{
		display:grid;
		grid-template-columns: repeat(auto-fill, minmax(215px,1fr));
		grid-template-rows: repeat(auto-fit);
		grid-row-gap: 20px;
		grid-column-gap:20px;
		z-index: 1;
		.event {
			max-width: 295px;
			height: 215px;
			display: block;
			overflow-y: hidden;
			overflow-x: hidden;
			border-radius: 7px;
		/*max-width?*/
			.event--pic {
					height:60%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.event--details {
				background-color: $bg--primary;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 1em;
				text-align: justify;
				height: 40%;
				a{
					line-height:1em;	
				}
					.event--adress{
						line-height:.5em;
						color:green;
					}
				@include font-basics(.8em, 200, $font--event--creator, black);
				.date{
						@include font-basics(.95em, 600, $font--event--creator, black);
				}
					.event--creator {
					@include font-basics(1em, 200, $font--event--creator, black);
					}
				
			}
					color:#fff;
				
				.event--title {
					@include font-basics(1.25em, 150, $event--title--font,black);
				}
			}
		}
	}

/* ------------------MEDIA QUERIES ------------------------*/



/* Smartphones (portrait and landscape) ----------- */


@media screen and (min-width: 0px) 
and (max-width: 500px) {
	.grid--outer{
		
		  .grid--wrapper{
     max-width: 295px;
  	}
	}
}

/* tablets (portrait and landscape) ----------- */

@media screen and (min-width: 500px)
and (max-width: 780px){
.grid-outer{
		 .grid--wrapper{
   			width: 100%;
    }
	}
 }

@media screen and (min-width: 700px)
{
      .grid--wrapper{
        width: 80%;
    }
  }
