
.content--wrapper--form{
	margin-top:$top--nav--height;

	
	.form--wrapper{
	@include flex-center(column);
			
	.form--title{
		font: {
			weight: 200;
			size:2em;
		}
		color:#fff;
		margin:2vh 0;
	}

			form{
				padding:3px;
				.form{
				
					border-radius:5px;
					background-color: none;
					@include flex-center(column, space-around ,center);
	
					#avatar--choose{
						margin:20px 0px;
					}
					
	
				.field{
					min-width: 500px;
						@include flex-center(column);
						#user_remember_me{
							width:40px;
						}
						input{
						width:290px;
						height:3em;
						border-radius:3px;
						opacity:1;	
						}
					  }
					  #avatar--preview{
						  border-radius: 50px;
						  height:5em;
						  width:5em;
					  }
					  .actions{
					  	margin-top: 15px;
						  input{
							  @include form-button;
						}	
					}
					form{
						#cancel--account{
							@include form-button($btn--red);
						}
					}
						.devise--link{
							a{
								color:#fff;
							}
					}
				}
			}
		}
	}
