/* Carousel */
//  image actuelle du carousel
#button--connect, #logout, #new--event{
		
	@include font-basics(.6em, 200, $font--event--creator,#30332f);
	border-radius:3px;
	border:none;
	text-decoration:none;
	font-style:normal;
	text-align: center;
	vertical-align: middle;
	&:hover{
		color:$font--primary;
		background-color:rgb(84, 39, 189);
	}
}

#button--connect{
	background-color: $bg--primary;
}



#new--event{
	background-color: $bg--nav;
}


.carousel{
	.home--welcome--box{
		text-align: center;
		@include flex-center(column, space-around, center);
		height:200px;
		color:#fff;
		text-decoration: none;
		z-index:2;
		font : {
			size:8vw;
			weight:400;
				}
			}	
		}


@media screen and (min-width: 0px) 
and (max-width: 500px) {
	.carousel{
		.home--welcome--box{
			font-size: 1.8em;
		}
	}
}

/* tablets (portrait and landscape) ----------- */

@media screen and (min-width: 500px)
and (max-width: 780px){
 	.carousel{
		.home--welcome--box{
			font-size: 2.3em;
		}
	}
 }

@media screen and (min-width: 700px)
{
     	.carousel{
		.home--welcome--box{
		font-size: 3.2em;
		}
	}
  }
