/* Carousel */
//  image actuelle du carousel
#button--connect{
		@include font-basics(1em, 200, $font--event--creator,#fff);
		
	border-radius:3px;
	background-color:$bg--two;
	border:none;
	text-decoration:none;
	font-style:normal;
	text-align: center;
	vertical-align: middle;
	&:hover{
		color:$font--primary;
		background-color:rgb(84, 39, 189);
	}
}

.home--events--wrap{
		display:block;
		padding: 15px 10vw; /* à supprimer sur petits écrans (media query)*/
		background-color: $bg--primary;
		z-index: -1;  /*pour voir le bandeau*/
		
		.home--section--head{

			padding: 5px;
			width: 100%;
			.home--section--title {
				color:$font--primary;
				font-size: 3.4em;
				font-weight:200;
				font-family: 'Martel Sans', sans-serif;
	}	
		}
		
}
/*
.carousel--img--one{
}
.carousel--img--two{
}
.carousel--img--three{
}

*/