
/* Smartphones (portrait and landscape) ----------- */
/*@media all 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}*/

/* iPads (portrait and landscape) ----------- */
/*@media all 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}*/

/* Desktops and laptops ----------- */
/*@media all 
and (min-width : 1224px) {

}*/

/* Large alls ----------- */
/*@media all 
and (min-width : 1824px) {

}
*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
.home--events--wrap{
	background-color: blue;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 780px) {
.home--events--wrap{
	background-color: green;
	}
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 780px) {
.home--events--wrap{
	background-color: orange;
	}
}