@import "./variables";

/*remove background on hover*/
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent !important;
}

/*smartphone*/


/* Styles */
.nav--top{
	background-color: rgb(247, 223, 2);
	#navbar{
		background-color: rgb(247, 223, 2);
		overflow: auto;
		height:43vh;
		ul.navbar-nav{
			@include flex-center(column, space-around, center);
		
		.top--item{
			font-size:1.8em;
			text-align: left;
		}
		.dropdown{
			height:10vh;
		
		
			.top--item{
				font-size:1.8em;
				padding: 0px;
				#top--username{
					display: none;
				}
			}
			.drop--ul{
				.dropdown--items{
					margin-left:2vw;
					background-color:red;
					display: flex;
					flex-direction: column;
				}
			}
		}
			}
			ul.navbar-right{
				.dropdown{
					 a img{
				width:50px;
				height:50px;
				 }
				}
			}
		}
	}



/* iPads (portrait and landscape) ----------- */
// @media all and (min-width: 380px) 
// and (max-width : 760px) {
// 	.nav--top{
// 		background-color: rgb(138, 235, 59);
// 		// #navbar{
// 		// }
// 	}
// }


/* Desktops and laptops ----------- */
// @media all 
// and (min-width : 1024px) {
// /* Styles */
// }
