@import "./variables";

/*remove background on hover*/
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent !important;
}

.navbar{
	margin:0;
	height:$top--nav--height;
	background-color: $bg--nav;
			.container{
			height:100%;
					.navbar-header{
						a{
							@include font-basics(3em, 200, $event--title--font, $font--blue);
							
						}
					}


	.navbar-collapse{
		/*Seulement navbar right ----------------------------------*/

		.navbar-right{
			li{
				a{
					padding:0px;
				}
			}
		}
			/*navbar right -----------------------------------------*/
			ul{
				margin-top: 0px;
				margin-bottom: 0px;
				li{
						a{
					@include font-basics(1.5em, 600, $font--nav--item);
					color:#fff;
					background-color: $bg--primary;
						img{
								border-radius: 50%;
								height:40px;
					}
				}	
			}
			/* DROPDOWN ET AVATAR*/
					.open{ /* li */
					background-color:$font--blue;
						a{ 
							color:#fff;
								dropdown-toggle{
								&:hover{
									color:grey;
								}
							}
						}
						.dropdown-menu{
						
							li{
									background-color: $font--blue;
							a{
									&:hover{
									color:$font--blue;
									font-size: 2em;
								}
							}
							}
						}
						a{
							img{		/*Avatar*/
							border-radius: 50%;
								height:40px;
								margin-top: -10px; /*center Avatar vertically*/
							}	
						}
					}  			/* DROPDOWN ET AVATAR*/
				}
			}
		}
	}
	
	/*navbar-collapse end*/
 /*navbar end */

/*body > nav > div > div.navbar-collapse.collapse > ul.nav.navbar-nav.navbar-right > li > a > img*/

/* mettre dans media 			


	
	
/* ------------------MEDIA QUERIES ------------------------*/



/* Smartphones (portrait and landscape) ----------- */


@media screen and (min-width: 0px) 
and (max-width: 380px) {
	.grid--outer{
		padding: 0px 5vw;
		  .grid--wrapper{
     width: 90%;
  	}
	}
}

/* tablets (portrait and landscape) ----------- */

@media screen and (min-width: 380px)
and (max-width: 768px){
      .grid--wrapper{
   			width: 90%;
    }
  }

@media screen and (min-width: 768px){
 #navbar{
				ul{
						height: $top--nav--height;
					}
			}
}
