@import 'variables';

	
.landscape--banner{
	position:absolute;
	top:$top--nav--height;
	width:100vh;
	height:360px;
	z-index: -1;

	img{
		width:100vw;
		height:100%;
		filter:blur(6px); /* a faire sur l'image 0*/
		opacity:.9;
	}
}

.content--wrapper{
		background-color: $bg--primary;
		margin-top:50px;
		padding: 0px 10vw; /* à supprimer sur petits écrans (media query)*/
		position:absolute;
		top:0;
		left:0;
		right:0;
		display: flex;
		flex-direction: column;
		
		align-items: center;
		.show--wrapper{
			background-color: #fff;
			margin-top: 30px;
			width: 85%;
			.show--wrapper--top{
				display: flex;
				.event--picture{
						width:50%;
						border-radius:30px;
					img{
						width:100%;
						border-radius: 1.5%;
					}
				} 
				.event--info{
					width:50%;
					@include flex-center(column, space-around, center);
					padding:12px;
					.show--event--title{
							@include font-basics(3em, 100, $event--title--font);	
				}
			}			
		}

		.show--wrapper--middle{
			padding:8px;
	
			.description{
				margin: 12px 0px ;

			}
			.attendees{
				display: flex;
				justify-content: flex-start;
				margin: 8px 0px;
				.attendee{
				display:flex;
				align-items: center;
				flex-direction: column;
				align-content: center;
						img{
					width:6vw;
					border-radius:50%;
					margin: 5px 0px;
				}
			}
		}
				.title{
						font : {
							family: 'Mina', sans-serif;
							size: 1.3em;
							weight: 200;
					}
				}
	}
}
			/* Suggestions */
			.events--suggestions {
				width:100w;
				margin-top: 15px;
					.grid--outer{
								.grid--wrapper{
									.event {
										.event--details {
								background-color: #fff
						}
					}
			  }
			}
		}
}

/* ------------------MEDIA QUERIES ------------------------*/



/* Smartphones (portrait and landscape) ----------- */


@media screen and (min-width: 0px) 
and (max-width: 380px) {
.content--wrapper{
		padding: 0px;
			.show--wrapper{
				width:95%;	
				.show--wrapper--top{
					@include flex-center(column);
					.event--picture{
						width:100%;
					}
					.event--info{
						@include flex-center(column, space-around, flex-start);
						width:100%;
						.show--event--title{
							font-size: 1.5em;
						}
					}
				}
				.show--wrapper--middle{
					.attendees{
						.attendee{
								img{
							width:30px;
						}
					}
				}
			}
		}
	}
}

/* tablets (portrait and landscape) ----------- */

@media screen and (min-width: 380px)
and (max-width: 780px){
	 .content--wrapper{
			padding: 0px;
				.show--wrapper{
					width:90%;				
					
					.show--wrapper--top{
					@include flex-center(column);
					.event--picture{
						width:60%;
					}
					.event--info{
						width: 100%;
						
						@include flex-center(column, space-around, flex-start);
						.show--event--title{
							font-size: 2em;
						}
					}
				}
			}
	}
}
/*@media screen and (min-width: 700px)
{
 
  
  }
*/