@import 'variables';

	
.landscape--banner{
	position:absolute;
	top:$top--nav--height;
	width:100vh;
	height:360px;
	z-index: -1;

	img{
		width:100vw;
		height:100%;
		filter:blur(6px); /* a faire sur l'image 0*/
		opacity:.9;
	}
}

.content--wrapper{
		min-width:260px;
		background-color: $bg--primary;
		margin-top:50px;
		padding: 0px 10vw; /* à supprimer sur petits écrans (media query)*/
		position:absolute;
		top:0;
		left:0;
		right:0;
		display: flex;
		flex-direction: column;
		
		align-items: center;
		.show--wrapper{
			background-color: #fff;
			margin-top: 30px;
			width: 85%;
			.show--wrapper--top{
				display: flex;
				.event--picture{
						width:50%;
						border-radius:30px;
						@include flex-center;
					img{
						width:100%;
						border-radius: 1.5%;
					}
				} 
				.event--info{
					width:50%;
					@include flex-center(column, space-around, center);
					padding:12px;
					a#inscription{
						font-size: 1.2em;
						font-weight: 200;
						font-family: "IBM Plex Sans", sans-serif;
						color: #fff;
						border-radius: 5px;
						background-color: $font--blue;
						border: none;
						text-decoration: none;
						font-style: normal;
						height: 1.5em;
						&:hover{
							background-color:#1d9b2a;
						}
					}
				#event--address{
					text-align:center;
				}
				.event--creator {
						a{
							@include font-basics(.9em, 400, $font--event--title, $font--blue);
						}
					}
					
					.show--event--title{
						line-height: .9em;
						text-align:center;
							@include font-basics(2.2em, 100, $event--title--font);	
				}
			}			
		}

		.show--wrapper--middle{
			padding:8px;
	
			.description{
				margin: 12px 0px ;

			}
			.attendees{
				display: flex;
				justify-content: flex-start;
				margin: 8px 0px;
				.attendee{
				display:flex;
				align-items: center;
				flex-direction: column;
				align-content: center;
						img{
					width:6vw;
					border-radius:50%;
					margin: 5px 0px;
				}
			}
		}
				.title{
						font : {
							family: 'Mina', sans-serif;
							size: 1.3em;
							weight: 200;
					}
				}
			.grid--outer--show{
					@include flex-center;
				.grid--wrapper{
					margin-top:30px;
					display:grid;
					grid-template-columns: repeat(auto-fill, minmax(215px,1fr));
					grid-template-rows: repeat(auto-fit);
					grid-row-gap: 20px;
					grid-column-gap:35px;
					z-index: 1;
								.event {
					
						height: 215px;
						display: block;
						overflow-y: hidden;
						overflow-x: hidden;
						border-radius: 7px;
						margin: 5px 5px;
					/*max-width?*/
						.event--pic {
								height:60%;
							img {
								width: 100%;
								height: 100%;
							}
						}
						.event--details {
							background-color: $bg--primary;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							padding: .7em;
							text-align: justify;
							height: 40%;
							a{
								line-height:.9em;	
							}
							p{
								line-height: 1em;
							}
								.event--adress{
									line-height:.65em;
									color:green;
								}
							@include font-basics(.8em, 200, $font--event--creator, black);
							.date{
									@include font-basics(.95em, 600, $font--event--creator, black);
							}
								.event--creator {
									a{
										@include font-basics(.9em, 400, $font--event--title, $font--blue);
									}
								}
							
						}
								color:#fff;
							
							.event--title {
								@include font-basics(1.25em, 150, $event--title--font,black);
							}
						}
					}
				}
			}
		}
	}
			/* Suggestions */



/* ------------------MEDIA QUERIES ------------------------*/



/* Smartphones (portrait and landscape) ----------- */


@media screen and (min-width: 0px) 
and (max-width: 380px) {
.content--wrapper{
		padding: 0px;
			.show--wrapper{
				width:95%;	
				.show--wrapper--top{
					@include flex-center(column);
					.event--picture{
						width:100%;
					}
					.event--info{
						@include flex-center(column, space-around, flex-start);
						width:100%;
						padding: 0px 15vw;
						.show--event--title{
							font-size: 1.5em;
							text-align:left;
						}
					}
				}
				.show--wrapper--middle{
					.attendees{
						.attendee{
								img{
							width:30px;
						}
					}
				}
			}
		}
	}
}

/* tablets (portrait and landscape) ----------- */

@media screen and (min-width: 380px)
and (max-width: 780px){
	 .content--wrapper{
			padding: 0px;
				.show--wrapper{
					width:90%;				
					
					.show--wrapper--top{
					@include flex-center(column);
					.event--picture{
						width:60%;
					}
					.event--info{
						width: 100%;
						@include flex-center(column, center, flex-start);
						.show--event--title{
							font-size: 2em;
						}
					}
				}
		}
	}
}
@media screen and (min-width: 780px){
	 .content--wrapper{
			padding: 0px;
				.show--wrapper{
					width:90%;				
					
					.show--wrapper--top{
					@include flex-center;
					.event--picture{
						width:60%;
						
					}
					.event--info * {
						width: 100%;
						@include flex-center(column, center, flex-start);
						.show--event--title{
							font-size: 2em;
						}
					}
				}
		}
	}
}
/*@media screen and (min-width: 700px)
{
 
  
  }
*/