@import "./variables.scss";

// .organizer{
// 	width: 100vw;
// 	height: 100vh;
// 		.organizer--username{
// 			@include font-basics(1.7em, 150, $font--event--title);
// 		}

.organizer{

	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgb(231, 245, 32) ;
}